@phenom:registry=http://tools-nexus3.aws.phenom.local/repository/design-system
registry=https://pie-nexus.phenompro.com/repository/pie-npm-group
//pie-nexus.phenompro.com/repository/:_auth="YXBtLnRlYW1AcGhlbm9tcGVvcGxlLmNvbTpwRTlyTG1NX2s="